/* Aplica configurações básicas para todos os elementos */
* {
    box-sizing: border-box;  /* Inclui padding e borda no tamanho total do elemento */
    color: #253439;  /* Cor do texto padrão */
    font-family: "Quicksand", sans-serif;  /* Fonte padrão para o site */
    font-optical-sizing: auto;  /* Ajuste automático do tamanho da fonte para legibilidade */
    font-weight: 500;  /* Peso da fonte */
    font-style: normal;  /* Estilo da fonte normal */
}

body {
    scrollbar-width: thin;  /* Barra de rolagem mais fina no Firefox */
    scrollbar-color: #212121;  /* Cor personalizada da barra de rolagem no Firefox */
    display: flex;  /* Flexbox para dispor os elementos lado a lado */
    flex-direction: column;  /* Empilha os elementos verticalmente */
    min-height: 100vh;  /* Garante que a altura mínima seja 100% da altura da janela */
    margin: 0;  /* Remove margens padrão */
}

main {
    flex-grow: 1;  /* Faz o conteúdo crescer e ocupar o espaço restante disponível */
}

.navbar {
    height: 100%;  /* A barra de navegação ocupa toda a altura da tela */
}

.titulo-login {
    position: relative;  /* Permite o posicionamento absoluto do conteúdo dentro */
    text-align: center;  /* Centraliza o texto */
}

/* Estilização do texto de login, centralizado com sombra */
.titulo-texto-login {
    position: absolute;  /* Permite posicionamento absoluto */
    top: 50%;  /* Centraliza verticalmente */
    left: 50%;  /* Centraliza horizontalmente */
    transform: translate(-50%, -50%);  /* Ajuste para centralização perfeita */
    font-size: 5vw;  /* Tamanho da fonte relativo à largura da tela */
    color: white;  /* Cor branca para o texto */
    font-weight: bold;  /* Texto em negrito */
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.6);  /* Sombra no texto */
    font-family: "Pacifico", cursive;  /* Fonte cursiva específica */
}

.img-sol {
    outline: solid 2px #b29e84;  /* Borda de 2px ao redor da imagem */
}

.bg-success, .btn-success {
    background-color: #245153 !important;  /* Cor de fundo verde escuro */
    border-color: #245153;  /* Cor da borda verde escura */
}

/* Estilo do botão de contorno verde (btn-outline-success) */
.btn-outline-success {
    color: #245153;  /* Cor do texto */
    border-color: #245153;  /* Cor da borda */
}

/* Efeito de hover no botão de contorno verde */
.btn-outline-success:hover {
    background-color: #245153;  /* Cor de fundo verde escuro */
    border-color: #245153;  /* Cor da borda */
}

/* Cor do texto de sucesso (verde escuro) */
.text-success {
    color: #245153;
}

/* Estilo de botões com ícones */
.bt-icon {
    font-weight: bold;  /* Texto em negrito no botão com ícone */
}

.form-container {
    background-color: #f8f9fa;  /* Cor de fundo clara para o formulário */
    border-radius: 10px;  /* Bordas arredondadas */
    padding: 0 15px 10px 15px;  /* Espaçamento interno */
}

#botao-login span {
    padding: 10px;  /* Espaçamento interno do botão */
    border: solid 1px;  /* Borda sólida de 1px */
    border-radius: 2px;  /* Arredondamento leve nos cantos */
}

/* Efeito de hover no botão de login */
#botao-login span:hover {
    background-color: #e6e6e6;  /* Muda o fundo para um cinza claro quando hoverizado */
    transition: background ease 0.4s;  /* Transição suave na mudança de fundo */
}

::-webkit-scrollbar {
    width: 6px;  /* Largura da barra de rolagem vertical */
    height: 6px;  /* Altura da barra de rolagem horizontal */
}

/* Estilo do trilho da barra de rolagem (área onde a barra se move) */
::-webkit-scrollbar-track {
    background-color: #212121;  /* Cor de fundo do trilho */
}

/* Estilo do "thumb" (parte que se move) da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #b29e84;  /* Cor do "thumb" da barra de rolagem */
    border-radius: 10px;  /* Borda arredondada para o "thumb" */
}

/* Efeito de hover no "thumb" da barra de rolagem */
::-webkit-scrollbar-thumb:hover {
    background-color: #b29e84a9;  /* Cor do "thumb" quando hoverizado */
}

/* Estilo dos botões da barra de rolagem */
::-webkit-scrollbar-button {
    background-color: #212121;  /* Cor de fundo dos botões da barra de rolagem */
}