/* Configurações gerais para todos os elementos: estilo da caixa, cor do texto e fontes */
* {
    box-sizing: border-box;
    color: #253439;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Estiliza o body da página para garantir um layout flexível e que ocupe toda a altura */
body {
    scrollbar-width: thin;  /* Barra de rolagem mais fina no Firefox */
    scrollbar-color: #212121;  /* Cor personalizada para o Firefox */
    display: flex; /* Coloca os elementos lado a lado */
    flex-direction: column; /* Para empilhar os elementos */
    min-height: 100vh; /* Garante que a altura mínima da página seja 100% da altura da janela */
    margin: 0; /* Remove margens padrão */
}


main {
    flex-grow: 1; /* Faz o conteúdo crescer e ocupar o espaço disponível */
}

/* Garante que a barra de navegação ocupe toda a altura disponível */
.navbar {
    height: 100%;
}

.img-sol { outline: solid 2px #b29e84; }

/* Estilos específicos para o botão de login */
#botao-login span {
    padding: 10px; /* Define o espaçamento interno do botão para 10px, criando um espaço entre o conteúdo e as bordas */
    border: solid 1px; /* Aplica uma borda sólida de 1px em torno do botão */
    border-radius: 2px; /* Arredonda ligeiramente os cantos da borda, com um raio de 2px */
}

/* Estilo para o botão de login quando o mouse passa por cima (hover) */
#botao-login span:hover {
    background-color: #e6e6e6; /* Muda o fundo para um cinza claro quando o botão é hoverizado */
    transition: background ease 0.4s; /* Adiciona um efeito de transição suave na mudança de fundo, durando 0.4 segundos */
}

/* Estilos para a área de apresentação, permitindo centralização do conteúdo */
.titulo-login {
    position: relative;
    text-align: center;
}

/* Estiliza o texto dentro da apresentação (centralizado, com sombra e fonte específica) */
.titulo-texto-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* Ajuste de centralização perfeita */
    font-size: 5vw;  /* Tamanho da fonte relativo à largura da tela */
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.6);
    font-family: "Pacifico", cursive;
}

/* Estilos para a classe bg-warning, aplicando uma cor de fndo personalizada */
.bg-warning { background-color: #b29e84 !important; }

/* Estilos para a classe bg-success e btn-success, aplicando uma cor de fundo verde */
.bg-success, .btn-success { background-color: #245153 !important; }

/* Estiliza o texto de sucesso, alterando sua cor */
.text-success { color: #245153; }

/* Estilização personalizada da barra de rolagem para navegadores baseados em Webkit (como Chrome e Safari) */
::-webkit-scrollbar {
    width: 6px;  /* Largura da barra de rolagem vertical */
    height: 6px;  /* Altura da barra de rolagem horizontal */
}

/* Estilo do trilho da barra de rolagem (área onde a barra se move) */
::-webkit-scrollbar-track { background-color: #212121; } /* Cor do fundo do trilho */

/* Estilo do "thumb" (parte que se move) da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #b29e84;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover { background-color: #b29e84a9; } /* Cor do "thumb" quando é hover */

::-webkit-scrollbar-button { background-color: #212121; } /* Cor dos botões da barra de rolagem */